{# 
 # global_header.html.twig
 #}
 {% if U_SITE_HOME %}
    {% set home_url = U_SITE_HOME %}
 {% else %}
    {% set home_url = U_INDEX %}
 {% endif %}
<nav class="global header headerbar">
<!--
- Branding
- Links
- Search
- User menu -->
    <div id="site-description" class="site-description">
        <a id="logo" class="logo" href="{{ home_url }}">
            <span class="site_logo">
                <h1>{{ SITENAME }}</h1>
            </span>
        </a>
    </div>
</nav>