{# 
 # global_header.html.twig
 #}
 {% if U_SITE_HOME %}
    {% set home_url = U_SITE_HOME %}
 {% else %}
    {% set home_url = U_INDEX %}
 {% endif %}
<nav class="global header headerbar">
<!--
- Branding
- Links
- Search
- User menu -->
    <a href="{{ home_url }}">
        Strona główna :)
    </a>
</nav>