{# 
 # global_header.html.twig
 #}
 {% if U_SITE_HOME %}
    {% set home_url = U_SITE_HOME %}
 {% else %}
    {% set home_url = U_INDEX %}
 {% endif %}
<nav class="global header headerbar">
<!--
- Branding
- Links
- Search
- User menu -->
    <div id="global-links" class="global-links">
        <ul>
            <li><a href="https://forum.austro-wegry.org">Forum</a></li>
            <li><a href="https://kiosk.austro-wegry.org">Prasa</a></li>
        </ul>
    </div>
    <div id="site-description" class="site-description">
	{% include "partials/branding.html.twig" %}
    </div>
    <div id="search-box" class="search-box search-header" role="search">
		<form action="{U_SEARCH}" method="get" id="search">
		<fieldset>
	    	<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
			<button class="button button-search" type="submit" title="{L_SEARCH}">
		    	<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
			</button>
			<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
				<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
			</a>
			{S_SEARCH_HIDDEN_FIELDS}
		</fieldset>
		</form>
	</div>
    <div class="header-profile dropdown-container">
    <a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong></a>
		<div class="dropdown dropdown-extended">
			<div class="pointer"><div class="pointer-inner"></div></div>
	    		<ul class="dropdown-contents" role="menu">
					<!-- IF U_RESTORE_PERMISSIONS -->
					<li>
						<a href="{U_RESTORE_PERMISSIONS}">
						<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
						</a>
					</li>
					<!-- ENDIF -->

					<!-- EVENT navbar_header_profile_list_before -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
						<span>{{ CURRENT_USERNAME_SIMPLE }}</span>
						</a>
					</li>
					<!-- EVENT navbar_header_profile_list_after -->
					<li class="separator"></li>
					{# <li>{L_NOTIFICATIONS}<a href="{U_NOTIFICATION_SETTINGS}" title="{L_SETTINGS}"><i class="icon fa-cog fa-fw" aria-hidden="true"></i></a></li> #}
					
					<li>
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
							<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
</nav>