<nav class="navbar" role="navigation">
	<div class="inner">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist" role="menubar">
		<li class="hide responsive-show">
			<a href="{{ U_SITE_HOME ?: U_INDEX }}" title="{{ L_INDEX }}">
				<img class="home icon" src="{{ T_THEME_PATH }}/images/favicon/android-chrome-192x192.png" alt="{{ L_INDEX }}">
			</a>
		</li>
		<li class="responsive-hide breadcrumbs">
				<!-- BEGIN navlinks -->
					{% set NAVLINK_NAME = navlinks.BREADCRUMB_NAME | default(navlinks.FORUM_NAME) %}
					{% set NAVLINK_LINK = navlinks.U_BREADCRUMB | default(navlinks.U_VIEW_FORUM) %}
					<!-- EVENT overall_header_navlink_prepend -->
					<span class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><a href="{{ NAVLINK_LINK }}" itemtype="https://schema.org/Thing" itemscope itemprop="item"><span itemprop="name">{{ NAVLINK_NAME }}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
					<!-- EVENT overall_header_navlink_append -->
				<!-- END navlinks -->
		</li>
		{% if S_DISPLAY_SEARCH %}
		<form class="responsive-hide rightside" action="{U_SEARCH}" method="get" id="search">
			<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
					<button class="button button-search" type="submit" title="{L_SEARCH}">
							<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
					</button>
					<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
							<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
					</a>
					{{ S_SEARCH_HIDDEN_FIELDS }}
			</fieldset>
		</form>			
		{% endif %}
		<li class="hide responsive-show rightside user-menu">
		{% if S_USER_LOGGED_IN %}
					<a class="username" href="{{ U_PROFILE }}">
						{% if CURRENT_USER_AVATAR %}
						{{ CURRENT_USER_AVATAR }} 
						{% else %}
						<img class="avatar" src="{{ T_THEME_PATH }}/images/no_avatar.gif" width="447" height="500">   
						{% endif %}
						{{ S_USERNAME }}
					 </a>
					 {% if S_NOTIFICATIONS_DISPLAY %}
   <span class="dropdown-container dropdown-{S_CONTENT_FLOW_END}">
      <a href="{U_VIEW_ALL_NOTIFICATIONS}" title="{{ L_NOTIFICATIONS }}" id="notification_list_button" class="dropdown-trigger {{ NOTIFICATIONS_COUNT ? 'unread' }} button">
         <i class="icon fa-bell fa-fw" aria-hidden="true"></i> {{ NOTIFICATIONS_COUNT ?: ''}}
      </a> 
   <!-- INCLUDE notification_dropdown.html -->
</span>
   {% endif %}
   {% if S_DISPLAY_PM %}
   <a class="button {{ PRIVATE_MESSAGE_COUNT ? 'unread' }}" href="{U_PRIVATEMSGS}" role="menuitem">
      <i class="icon fa-envelope fa-fw" aria-hidden="true" title="{{ L_PRIVATE_MESSAGES }}"></i> {{ PRIVATE_MESSAGE_COUNT ?: ''}}
      </a>
   {% endif %}
		{% elseif S_REGISTER_ENABLED %}
			<a class="button" href="{{ U_LOGIN_LOGOUT }}" role="menuitem">
				<i class="icon fa-user-circle-o fa-fw" aria-hidden="true"></i>{{ L_LOGIN_LOGOUT }}
			</a>
		{% endif %}
		</li>
	</ul>
	<ul id="nav-main" class="nav-main linklist" role="menubar">
		<li data-skip-responsive="true" class="crumb responsive-show">
			<a href="{{ U_INDEX }}">
				<i class="icon fa fa-fw fa-home"></i>{{ L_INDEX }}
			</a>
		</li>
	{% if S_DISPLAY_SEARCH %}
		{% include "partials/quicklinks.html.twig" %}
		{% if not S_IN_SEARCH %}
		<li class="rightside responsive-search" data-last-responsive="true">
			<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" role="menuitem">
			<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
			</a>
		</li>	
		{% endif %}
		<li data-skip-responsive="true" >
			<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">
				<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>Pomoc</span>
			</a>
		</li>
	{% endif %}
	</ul>
	</div>
</nav>