<nav id="sz-user-dropdown" class="sz sz-dropdown">
<header>
<h3><a href=""></a>{{ CURRENT_USERNAME_SIMPLE }}</h3>
</header>
<div class="notice">Póki co to tylko makieta, linki raczej nie działaja.</div>
<hr>
<footer>Stopka</footer>
</nav>