<div class="header-profile dropdown-container">
	<a href="{U_PROFILE}" class="header-avatar dropdown-trigger">
	{% if CURRENT_USER_AVATAR %}{CURRENT_USER_AVATAR}
	{% else %}<img class="avatar" src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt="Brak ustawionego awatara">{% endif %}</a>
    <div class="dropdown">
        <nav class="user-dropdown" role="menu">
        <header>
		{% EVENT navbar_header_user_profile_prepend %}
        {% EVENT navbar_header_username_prepend %}
           <h3><a href="{{ U_PROFILE }}">{CURRENT_USERNAME_SIMPLE}</a></h3>
        </header>
        <ul class="dropdown-contents" role="menu">
		    <!-- IF U_RESTORE_PERMISSIONS -->
			<li>
			<a href="{U_RESTORE_PERMISSIONS}">
			<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
			</a>
			</li>
			<!-- ENDIF -->
			{% EVENT navbar_header_profile_list_before %}
			<li>
			<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
			<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
			</a>
			</li>
			<!-- IF U_USER_PROFILE -->
			<li>
			<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
			<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
			</a>
			</li>
			<!-- ENDIF -->
			{% EVENT navbar_header_profile_list_after %}
			<li class="separator"></li>
			<li>
			<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
			<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
			</a>
			</li>
			</ul>
		<div class="tab">
		{% if S_NOTIFICATIONS_DISPLAY %}
			<div class="tab-panel">
				<input class="tab-open" id="tab-1" name="tab-wrap-1" type="radio" checked>
				<label class="tab-nav" for="tab-1"><i class="icon fa-globe fa-fw"></i></label>
				<div class="tab-inner">
				<h3>{L_NOTIFICATIONS} <a href="#">C</a></h3>
				</div>
			</div>
		{% endif %}
		{% if condition %}
			<div class="tab-panel">
				<input class="tab-open" id="tab-2" name="tab-wrap-1" type="radio">
				<label class="tab-nav" for="tab-2"> <i class="fa fa-envelope fa-fw"></i></label>
				<div class="tab-inner">
				Zwei
				</div>
			</div>
		{% endif %}
		</div>
		{% EVENT navbar_header_user_profile_append %}
		<!-- IF U_ACP -->
				<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
					<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{L_ACP_SHORT}</span>
				</a>
		<!-- ENDIF -->
		<!-- IF U_MCP -->
				<a href="{U_MCP}" title="{L_MCP}" role="menuitem">
					<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{L_MCP_SHORT}</span>
				</a>
		<!-- ENDIF -->
        <footer>Footer</footer>
        </nav>
	</div>
</div>