<div class="header-profile dropdown-container">
				<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --></a>
				<div class="dropdown">
					<ul class="dropdown-contents" role="menu">
						
					</ul>
				</div>
			</div>