<div class="header-profile dropdown-container">
	<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --></a>
	
    <div class="dropdown">
        <nav class="sz-dropdown" role="menu">
        </nav>
	</div>
</div>