<nav id="sz-user-dropdown" class="sz sz-dropdown">
<header>
<h3><a href="{{ U_USER_PROFILE }}">{{ CURRENT_USERNAME_SIMPLE }}</a><i class="icon fa-edit fa-fw" aria-hidden="true"></i> </h3>
</header>
<small><strong>Póki co to tylko makieta, linki raczej nie działaja.</strong></small>
<hr>
<footer>Stopka</footer>
</nav>