<div class="header-profile dropdown-container">
	<a href="{U_PROFILE}" class="header-avatar dropdown-trigger">
	{% if CURRENT_USER_AVATAR %}{CURRENT_USER_AVATAR}
	{% else %}<img class="avatar" src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt="Brak ustawionego awatara">{% endif %}</a>
    <div class="dropdown">
        <nav class="user-dropdown" role="menu">
        <header>
		{% EVENT navbar_header_user_profile_prepend %}
        {% EVENT navbar_header_username_prepend %}
           <h3><a href="{{ U_PROFILE }}">{CURRENT_USERNAME_SIMPLE}</a></h3>
        </header>
        <ul class="dropdown-contents" role="menu">
		    <!-- IF U_RESTORE_PERMISSIONS -->
			<li>
			<a href="{U_RESTORE_PERMISSIONS}">
			<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
			</a>
			</li>
			<!-- ENDIF -->
			{% EVENT navbar_header_profile_list_before %}
			<li>
			<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
			<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
			</a>
			</li>
			<!-- IF U_USER_PROFILE -->
			<li>
			<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
			<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
			</a>
			</li>
			<!-- ENDIF -->
			{% EVENT navbar_header_profile_list_after %}
			<li class="separator"></li>
			<li>
			<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
			<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
			</a>
			</li>
			</ul>
		<div class="tab">
		{% if S_NOTIFICATIONS_DISPLAY %}
			<div class="tab-panel">
				<input class="tab-open" id="tab-1" name="tab-wrap-1" type="radio" checked>
				<label class="tab-nav" for="tab-1"><i class="fa fa-globe fa-fw"></i></label>
				<div class="tab-inner">
				<h3>{L_NOTIFICATIONS} <a class="rightside" href="{U_NOTIFICATION_SETTINGS}" title="{{ L_SETTINGS }}"><i class="fa fa-cog fa-fw"></i></a></h3>
				<ul class="dropdown-contents">
				<!-- BEGIN notifications -->
				<li class="<!-- IF notifications.UNREAD --> bg2<!-- ENDIF --><!-- IF notifications.STYLING --> {notifications.STYLING}<!-- ENDIF --><!-- IF not notifications.URL --> no-url<!-- ENDIF -->">
					<!-- IF notifications.URL -->
						<a class="notification-block" href="<!-- IF notifications.UNREAD -->{notifications.U_MARK_READ}" data-real-url="{notifications.URL}<!-- ELSE -->{notifications.URL}<!-- ENDIF -->">
					<!-- ENDIF -->
						<!-- IF notifications.AVATAR -->{notifications.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
						<div class="notification_text">
							<p class="notification-title">{notifications.FORMATTED_TITLE}</p>
							<!-- IF notifications.REFERENCE --><p class="notification-reference">{notifications.REFERENCE}</p><!-- ENDIF -->
							<!-- IF notifications.FORUM --><p class="notification-forum">{notifications.FORUM}</p><!-- ENDIF -->
							<!-- IF notifications.REASON --><p class="notification-reason">{notifications.REASON}</p><!-- ENDIF -->
							<p class="notification-time">{notifications.TIME}</p>
						</div>
					<!-- IF notifications.URL --></a><!-- ENDIF -->
					<!-- IF notifications.UNREAD -->
						<a href="{notifications.U_MARK_READ}" class="mark_read icon-mark" data-ajax="notification.mark_read" title="{L_MARK_READ}">
							 <i class="icon fa-check-circle icon-xl fa-fw" aria-hidden="true"></i><span class="sr-only">{L_MARK_READ}</span>
						</a>
					<!-- ENDIF -->
				</li>
				<!-- END notifications -->
				</ul>
				
				</div>
			</div>
		{% endif %}
		{% if S_DISPLAY_PM %}
			<div class="tab-panel">
				<input class="tab-open" id="tab-2" name="tab-wrap-2" type="radio">
				<label class="tab-nav" for="tab-2"> <i class="fa fa-envelope fa-fw"></i></label>
				<div class="tab-inner">
				Wiadomości?
				</div>
			</div>
		{% endif %}
		{% if U_ACP %}
			<div class="tab-panel">
				<input type="radio" class="tab-open" id="tab-3" name="tab-wrap-3">
				<label for="tab-3" class="tab-nav">
					<a href="{U_ACP}" title="{L_ACP}" role="menuitem"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i></a>
				</label>	
			</div>
		{% endif %}
		</div>
		{% EVENT navbar_header_user_profile_append %}
		<!-- IF U_ACP -->

		<!-- ENDIF -->
		<!-- IF U_MCP -->
				<a href="{U_MCP}" title="{L_MCP}" role="menuitem">
					<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{L_MCP_SHORT}</span>
				</a>
		<!-- ENDIF -->
        <footer>Footer</footer>
        </nav>
	</div>
</div>