<div class="header-profile dropdown-container">
	<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --></a>
	
    <div class="dropdown">
        <nav class="sz-dropdown" role="menu">
        <header>
        <h3><a href="$">Username</a></h3>
        </header>
        <!-- EVENT navbar_header_username_append -->
        <footer>Footer</footer>
        </nav>
	</div>
</div>