{#
# Main header
# template/layout/partial/header.html.twig
#}
<!-- Begin of main header -->
{% set is_global = "true" %}
<header class="global" id="global_nav">
  <nav class="dev_navbar wrap">
    <a id="logo" class="logo" href="/">
    <span class = "site_logo"></span>
    </a>
  </nav>
</header>
<!-- End of main header -->