.breadcrumbs ol {
    list-style: none;
    margin: unset;
    padding: unset;
    }
    .breadcrumbs li {
    display: inline-flex;
    margin: 0;
    }
    .breadcrumbs li::before {
    content: '\00bb';
    font-weight: 900;
    font-size: large;
    width: 12px;
    margin-top: -2px;
    }