.menu-level-1 {
    display: none;
}
.menu-level-0 {
    display: flex;
    list-style: none;
    font-weight: 900;
    
    .menu-item {
        background: #b8860b;
        margin: -0.5em 1em;
        padding: 0.3em 0.6em;
        border-radius: 5px;
        }
}
.menu-item a, .menu-item a:hover {
    color: white;
    }
#block-szwejku-main-menu-menu {
    flex: 10 1 50%;
}