.system-menu .menu {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;

    .menu-item {
        padding: 0.5rem;
        background: #161616;
        border-radius: 0.75rem;
        .menu{
        display: none;
        }
    }    
    .menu-item:hover {
        .menu{
            display:block;
        }
    }
}

