#header-bot {
    top: 3em;
}
#main-header {
    width: 100vw;
    background: url($shared+"images/texture.png"), linear-gradient(#161616 50%, #fc0 50%);
    height: 3rem;
    justify-content: space-evenly;

    & * {
        flex: unset;
    }
    & .brand{
        max-width: 40%;
        & img {
            height: 4rem;
        }
    }
    & nav {
        height: 1.5rem;
    }
}
// Change style for links inside nav block
div[id*="block"] ul ol, nav[id*="block"] ol ul
{
    margin: unset;
    list-style: none;
    li {
        display: inline-block;
    }
}
