#header-bot {
    top: 3em;
}
#main-header {
    width: 100vw;
    background: url($shared+"images/texture.png"), linear-gradient(#161616 50%, #fc0 50%);
    height: 3rem;
    justify-content: space-evenly;

    & .brand{
        max-width: 40%;

        & img {
            height: 4rem;
        }
    }
}
