/*
    Main styling
*/
html, html body {
    background: url('//plik.austro-wegry.org/common/images/bg.webp');
}
// Some basic padding so that fixed elements don't cover contents
html body {
    padding: 3em 0 !important;

    a {
        color: $tertiary;
    &:hover {
        color: $love;
    }
    }
}
