.content {
    background-color: #fff5eecc;
}
.pagetitle {
    padding: unset;
    border-bottom: 1px solid #ccc;
}
h1.title{
    color: $tertiary;
    margin: 1rem;
    padding: unset;
}
main.card
{
    background: $secondary;
    padding: 1em;
}