/*
 *  Fonts 
 */
 $fonts: "/style/assets";
 @import url($fonts+'/style.css');
html, html body {
    font-family: 'Forum', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aladin';
}
