#main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    background: url($shared+"images/texture.png"), linear-gradient(#161616 50%, #fc0 50%);
    height: 3em;
    width: 100%;
    .inner{
        max-width: 1400px;
        margin: auto;
        .branding img {
            height: 4rem;
        }
    }
}
// Override for admin toolbar
.gin--horizontal-toolbar #main-header {
    top: 80px;
}
