//  Remove Picnic styling from all NAV elements
nav {
    top: unset;
}

.label, [data-tooltip]::after, button, .button, [type="submit"], .dropimage {
    background: $tertiary;
    font-weight: bolder;
}
