// #Danube Neue# color scheme:
    $primary: #161616;
    $secondary : floralwhite;
    $tertiary: #b8860b;
    $quaternary: #ffd700;
    // $header_background: #000000;
    // $header_primary: #fffff0;
    $highlight: #7fff00;
    $danger: #e45735;
    $success: #228B22;
    $love: #D31141;