{% for link in navlinks %}
        <!--
            {{ link|join(, ) }}
        -->
        <!-- EVENT overall_header_navlink_prepend -->
        <span class="crumb"<!-- IF link.MICRODATA --> {link.MICRODATA}<!-- ENDIF -->
        <a href="{{ NAVLINK_LINK }}" itemtype="https://schema.org/Thing" itemscope itemprop="item">
        <span itemprop="name">{{ NAVLINK_NAME }}</span>
        </a>
        <meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
        </span>
        <!-- EVENT overall_header_navlink_append -->
{% endfor %}    