{# 
 # partials/global_header.html.twig
 #}
<header>
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
</header>
