{# 
 # partials/global_header.html.twig
 #}
<header id="global-header">
{% block header %}
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
   <nav>
      <ul>
         <li>
            <a href="#">Test</a>
         </li>
      </ul>
   </nav>
   <nav>
      <ul>
         <li>
            <a href="#">Test</a>
         </li>
      </ul>
   </nav>
{% endblock header %}
</header>
