{% if S_REGISTERED_USER %}
    <a class='btn' href="{U_SEARCH_SELF}" role="menuitem">
        <i class="icon fa-id-badge fa-fw icon-blue" aria-hidden="true"></i><span>{L_SEARCH_SELF}</span>
    </a>
{% endif %}
{% if S_USER_LOGGED_IN %}
    <a class='btn' href="{U_SEARCH_NEW}" role="menuitem">
        <i class="icon fa-file-text fa-fw icon-green" aria-hidden="true"></i><span>{L_SEARCH_NEW}</span>
    </a>
{% endif %}
{% if S_LOAD_UNREADS %}
    <a class='btn' href="{U_SEARCH_UNREAD}" role="menuitem">
        <i class="icon fa-exclamation-circle fa-fw icon-orange" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
    </a>
{% endif %}
    <a class='btn' href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
        <i class="icon fa-fire fa-fw icon-red" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS}</span>
    </a>