<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong></a>
		<div class="dropdown dropdown-extended">
			<div class="pointer"><div class="pointer-inner"></div></div>
			{% include "sz/user_dropdown.html/.twig" %}