<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
    <nav class="buttons">
                <a href="{U_POST_REPLY_TOPIC}" class="btn action" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->">
                        <!-- IF S_IS_LOCKED -->
                                <span>{L_BUTTON_TOPIC_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
                        <!-- ELSE -->
                                <span>{L_BUTTON_POST_REPLY}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
                        <!-- ENDIF -->
                </a>
    {% include "viewtopic/tools.html.twig" %}
    </nav>
<!-- ENDIF -->