//  Remove Picnic styling from all NAV elements
nav {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    height: unset;
    padding: unset;
    background: unset;
    box-shadow: unset;
    z-index: unset;
    transition: unset;
    transform-style: unset;
}
