nav.sz{
    background: white;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.global.headerbar a.dropdown-trigger{
    position: relative;
    z-index: 2;
}