.user-dropdown {
    background: rgba($color: #fff, $alpha: 0.75);
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);

    header {
        width: 100%;
        background: #fff;

        h3 {
            margin-left: 2rem;
            border: unset;
        }

        a {
            font-family: 'Aladin', sans-serif;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    div {
        background: white;
        width: 100%;
    }
}

.global.headerbar a.dropdown-trigger {
    position: relative;
    z-index: 2;
}

.dropdown {
    z-index: unset;
}

// them tabs
.tab {
    position: relative;
}

.tab-panel {
    display: inline-block;
    min-height: 150px;

    .tab-open {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0
    }
}

.tab-nav {
    border-bottom: #aaa solid 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.tab-open,
.tab-open:checked~.tab-nav{
    border: #aaa solid 1px;
    border-bottom: none;
}

.tab-nav:hover{
    background-color: #eaeaea;
    color: red;
}

.tab-inner {
    opacity: 0;
    position: absolute;
    left: 0;
    transition: opacity .1s;
    visibility: hidden
}

.tab-open:focus:checked~.tab-nav {
    outline: thin dotted
}

.tab-open:checked~.tab-inner {
    opacity: 100;
    visibility: visible;
    transition: opacity .6s ease
}