/* 
 *  Topic style overrides
 */
.postprofile {
    float: left;
}

.online .avatar-container {
    box-shadow: 0px 0px 5px green;
}

.avatar-container {
    width: fit-content;
    border-radius: 100%;
}

a.sz-bttn {
    display: inline-block;
    height: 1rem;
    padding: 0.5rem;
    background: ghostwhite;
    color: brown;
    border-radius: 4px;
    box-shadow: 0 0 2px #ccc inset, 0 0 2px #161616;
    min-width: 1rem;
}