/* 
 *  Topic style overrides
 */
 
.topic-header{
	background: #fffff0;
	padding: 0.45rem;
}
.topic-header h1,
.topic-header h1 a{
	color: #b8860b;
}

.postprofile {
    float: left;
}
.avatar-container {
    max-width: 30vh;
}
.avatar {
    border-radius: 100%;
    width: 100%;
}
.online .avatar {
    box-shadow: 0px 0px 5px green;
}
