.category {
    background: #161616;
    background-size: contain;
    border-radius: 1.5rem;
    background-repeat: no-repeat;
}
.category header {
    color: beige;
    padding: 1rem;
    background: linear-gradient(#161616df 10%, transparent 100%);
}
.category header h2 a {
    color: #ffcc00f0;
}
li.row {
    background: #fffffff0;
}
/* 
 * Subforum links styling
 ************************/
.subforums {
    list-style: none;
}
a.subforum {
    border-bottom: 1px dotted;
}
.unread {
    color: #f08080;
    font-weight: bolder;
}
