nav.global.header{
    position: fixed;
    top: 0;
    background: url("./assets/images/texture.png"),
        linear-gradient(#161616 50%, #fc0 50%);
    box-shadow: 0px 0px 8px 1px #000000;
    height: 3rem;
    z-index: 1000;
    display: inline-flex;
    justify-content: space-between;
    border-radius: unset;
    width: 100%;
}
nav.global.header .site-description{
    width: unset;
}
nav.global.header a.header-avatar img.avatar{
    max-height: unset;
    height: 3rem;
    border-radius: 100%;
}
html body{
    padding-top: 3rem;
}