{% import "forumlist/macros.html.twig" as rows %}
{% set forumrow = loops.forumrow %}
{% for row in forumrow %}
    {% if row.S_IS_CAT %}
        {% if not row.S_FIRST_ROW %}</section>{% endif %}
    {% include "forumlist/category.html.twig" %}
    {% elseif row.S_IS_LINK %}
    {{ rows.link(row) }}
    {% else %}
    {{ rows.forum(row) }}
    {% endif %}
{% endfor %}