<!-- BEGIN forumrow -->
	{% if (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  %}
</section>
    {% endif %}

{% EVENT forumlist_body_category_header_before %}
{% if (forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT) %}
<!-- <section class="forum" id="f-{{ forumrow.FORUM_ID }}"> -->
{% endif %}
{% if (forumrow.S_IS_CAT) %}
{% include "forumlist/category.html.twig" %}
{% endif %}
{% EVENT forumlist_body_category_header_after %}

{% if not forumrow.S_IS_CAT %}
{% EVENT forumlist_body_forum_row_before %}
{% include "forumlist/forum.html.twig" %}
{% EVENT forumlist_body_forum_row_after %}
{% endif %}

<!-- IF forumrow.S_LAST_ROW -->

</div>
</div>
{% EVENT forumlist_body_last_row_after %}
<!-- ENDIF -->

<!-- BEGINELSE -->
<div class="panel">
<div class="inner">
<strong>{L_NO_FORUMS}</strong>
</div>
</div>
<!-- END forumrow -->
