<!-- INCLUDE overall_header.html -->
<main class="viewforum">
<header>
<!-- EVENT viewforum_forum_title_before -->
<h2 class="forum-title"><!-- EVENT viewforum_forum_name_prepend --><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>
<!-- EVENT viewforum_forum_title_after -->
	<!-- IF FORUM_DESC --><div>{FORUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}</p><!-- ENDIF -->
</header>
<!-- IF S_FORUM_RULES -->
{% include "viewforum/rules.html.twig" %}
<!-- ENDIF -->

{% if S_HAS_SUBFORUM %}
<section class="subforums">
<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
	<div class="action-bar compact">
		<a href="{U_MARK_FORUMS}" class="mark-read rightside btn" data-ajax="mark_forums_read">{L_MARK_SUBFORUMS_READ}</a>
	</div>
<!-- ENDIF -->
	<!-- INCLUDE forumlist_body.html -->
</section>
{% endif %}
<section class="topics">
	{% include "viewforum/topics.html.twig" %}
</section>
</main>



<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
{% EVENT viewforum_body_online_list_before %}
<aside class="stats">
<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
	<div class="stat-block online-list">
		<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<p>{LOGGED_IN_USER_LIST}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE and rules|length -->
	<div class="stat-block permissions">
		<h3>{L_FORUM_PERMISSIONS}</h3>
		<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
	</div>
<!-- ENDIF -->
</aside>